<section class="profile login">
	<div class="row form">
		<h3>Recover Password</h3>
		<div class="large-12 columns fieldBox">
			<div class="field">
				<label>Email Address</label>
				<input type="email">
			</div>
		</div>
		<div class="large-12 columns fieldBox">
			<%= link_to 'Login', "/login/", :class => "link grey" %> <button class="button teal right">Recover</button>
		</div>
	</div>
</section>