<section class="profile login">
	<div class="row form">
		<h3>Login</h3>
		<div class="large-12 columns fieldBox">
			<div class="field">
				<label>Email Address</label>
				<input type="email">
			</div>
		</div>
		<div class="large-12 columns fieldBox">
			<div class="field">
				<label>Password</label>
				<input type="text">
			</div>
		</div>
		<div class="large-12 columns fieldBox">
			<%= link_to 'Forgot your password?', "/forgot_password/", :class => "link grey" %> <button class="button teal right">Login</button>
		</div>
	</div>
</section>