<section class="profileHeading">
	<h2>All done!</h2>
	<p>Thanks for joining our community, now get out there and compete!</p>
	<div class="pageDivider white"></div>
</section>
<section class="start grey">
	<h2>Ready to get started?</h2>
	<button class="button teal">Find A Spot</button>
</section>